<div class="">
    <div class="container mt-2S">
        <div class="container criar-centro ">
            <div class="col-md-12">  

                <h4 class="text-center mt-5">Cadastro de Tech-Shots</h4>

                <div class="col-md-8 offset-md-2 mt-2">
                                                    
                    <div class="form-group mt-5">
                        <label for="tituloTechShot">Titulo da Tech Shot</label>
                        <input [(ngModel)]="techShot.titulo" type="text" class="form-control" name="titulo" id="titulo" placeholder="Titulo da TechShot">
                    </div>
                    
                    <div class="form-group">
                        <label for="cadTechShots">Descrição</label>
                        <textarea [(ngModel)]="techShot.descricao" class="form-control" name="descricao" id="descricao" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="palestrante">Palestrante</label>
                        <input [(ngModel)]="techShot.palestrante" type="text" class="form-control" name="palestrante" id="palestrante" placeholder="Nome do Palestrante">
                    </div>
                    
                    <div class="text-center mt-5">
                        <button type="submit" class="btn btn-outline-primary bg-darke bg-dark mr-2" (click)="cadastrarTechShots()">Salvar</button>
                        <button type="#" class="btn btn-outline-primary bg-dark bg-dark" (click)="cancelarCadastro()">Voltar</button>
                    </div>                

                </div> 
            </div>
        </div>
    </div>
</div>